.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App{
  background-color: #282c34;
  display: flex;
  color: white;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header {
  display: flex;
  min-height: 25vh;
  max-width: 25vh;
  flex-direction: column;
  align-items: center;
}
.main{
  min-height: 25vh;
}
.detail {
  min-height: 50vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
