.boxesList {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Exo 2';
    font-weight: 300;
    animation: fadeIn .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1;
    padding: 40px 20px 20px 20px;
}
.box{
    background: #424242;
}
.box .content-detail {
    display:flex;
    flex-wrap:wrap;
    color:white;
    min-height: 80px;
    padding: 20px 20px 20px 20px;
}
.box .content-detail button {
    padding: 10px 20px;
    border: none;
    box-shadow: none;
    background: none;
    color: inherit;
    font-family: 'Exo 2';
    font-weight: 300;
    font-size: 15px;
    font-weight: 800;
    border-radius: 10px;
    background: steelblue;
    cursor: pointer;
    box-shadow: 8px 5px 13px rgba(34, 34, 34, .08);
}
.box .content-detail-right{
    align-self: right ;
}
.form-creating{
    margin: 0 0 0 0 ;
    padding: 10px 10px 10px 10px;
    border: solid 2px white;
}

/* SHINING */
.shining-container {
    margin-right: 15px;;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.shining-container:hover .shine {
    transform: skewX(20deg) translateX(300px);
}
.btn-shine {
    transition: background .3s linear;
}
.shine {
    position: absolute;
    top: 0;
    left: -80px;
    height: 38px;
    width: 33px;
    background: rgba(255, 255, 255, 0.4);
    transition: all .3s linear;
    transform: skewX(20deg) translateX(0);
    /* border-radius: 55px 55px 21px 55px; */
}
/* FORM CREATE/UPDATE */
.form-creating {
    margin: 0 10px;
}

.form-creating label {
    display: block;
    margin-bottom: 5px;
}

.form-creating input[type="text"],
.form-creating select,
.form-updating input[type="text"],
.form-updating select {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    height: 40px;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.form-creating-actions {
    max-width: 600px;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.form-creating-actions-save,
.form-updating-actions-save {
    margin: 0 5px;
    padding: 10px 30px;
    color: #fff;
    background-color: #28a745;
    border: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: .25rem;
}

.form-creating-actions p {
    margin: 0 0 0 auto;
}

.form-creating-actions-cancel,
.form-updating-actions-cancel {
    margin: 0 5px;
    padding: 10px 30px;
    color: #fff;
    background-color: #dc3545;
    border: none;
    font-weight: 600;
    font-size: 16px;
}
