.boxesList {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Exo 2';
    font-weight: 300;
    animation: fadeIn .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1;
    padding: 20px 20px 20px 20px;
}