/* APP */
.App {
    display: flex;
    min-height: 100vh;
}

/* MENU */
.menu-container {
    position: fixed;
    padding: 20px;
    width: 250px;
    height: 100vh;
    background: black;
    color: white;
}

.menu-container p {
    cursor: pointer;
}

/* CONTENT */
.content-container {
    width: 100%;
    margin-left: 250px;
    background: white;
}
