.pokemon {
    width: 100%;
}

/* DETAIL */
.pokemon .content-detail {
    background: #424242;
}

.content-detail-pokemon {
    display: flex;
    justify-content: center;
    padding: 20px 0 30px;
}

.actions-update {
    margin: 0 5px;
    padding: 10px 30px;
    color: #fff;
    background-color: #28a745;
    border: none;
    font-weight: 600;
    font-size: 16px;
}

.actions-delete {
    margin: 0 5px;
    padding: 10px 30px;
    color: #fff;
    background-color: #dc3545;
    border: none;
    font-weight: 600;
    font-size: 16px;
}

/* LIST */
.content-list-container {
    padding: 40px 30px;
}

.content-list-pokemon {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 0 0;
    padding: 0;
}

.content-list-pokemon li {
    transition: all .5s;
    background: url(../../img/pokemons.jpg) no-repeat;
    background-size: contain;
    margin: 10px;
    width: 200px;
    height: 200px;
    list-style: none;
    cursor: pointer;
}

.content-list-pokemon li:hover {
    transform: scale(1.1);
}

.content-list-pokemon li div {
    width: 200px;
    height: 200px;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.actions-create {
    display: block;
    margin: 0 auto;
    padding: 15px 40px;
    color: #fff;
    background-color: #007bff;
    border: none;
    font-weight: 600;
    font-size: 16px;
}

/* FORM CREATE/UPDATE */
.form-creating {
    margin: 0 10px;
}

.form-updating {
    width: 100%;
    max-width: 500px;
}

.form-creating label,
.form-updating label {
    display: block;
    margin-bottom: 5px;
}

.form-updating label {
    color: white;
}

.form-creating input[type="text"], .form-creating select,
.form-updating input[type="text"], .form-updating select{
    display: block;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    height: 40px;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.form-creating-actions,
.form-updating-actions {
    max-width: 600px;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.form-creating-actions-save,
.form-updating-actions-save {
    margin: 0 5px;
    padding: 10px 30px;
    color: #fff;
    background-color: #28a745;
    border: none;
    font-weight: 600;
    font-size: 16px;
}

.form-creating-actions p,
.form-updating-actions p {
    margin: 0 0 0 auto;
}

.form-updating-actions p {
    color: white;
}

.form-creating-actions-cancel,
.form-updating-actions-cancel {
    margin: 0 5px;
    padding: 10px 30px;
    color: #fff;
    background-color: #dc3545;
    border: none;
    font-weight: 600;
    font-size: 16px;
}
