
.trainer {
    width: 100%;
}

/* DETAIL */
.trainer .content-detail {
    background: #424242;
}

.content-detail-trainer {
    padding: 20px;
}


/* LIST */
.content-list-trainer {
    display: flex;
    flex-wrap: wrap;
}

.content-list-trainer li:hover {
    transform: scale(1.1);
}

.content-list-trainer li {
    transition: all .5s;
    margin: 10px;
    display: flex;
    width: 200px;
    height: 200px;
    background-color: black;
    background-image: url("../../img/trainercard.png");
    background-position: center;
    color: white;
    list-style: none;
    cursor: pointer;
}

.content-list-trainer .trainerName{
    padding: 6% 2% 0% ;
    font-weight: bold;
}

